<header>
    <nav class="navbar navbar-expand-lg navbar-top">
        <div class="container">
            <div class="col col-4 col-md-2">
                <a ng-click="vm.goHome()">
                    <img src="content/images/mobile.png" class="img-fluid">
                </a>
            </div>
            <div class="navbar-collapse flex-column align-items-end col col-8 col-md-10">
                <ul class="navbar-nav">
                    <li class="nav-item" ng-show="account != null">
                        <a class="nav-link" href="#" style="color: white">{{account.msisdn}}</a>
                    </li>
                    <li class="nav-item" ng-show="account == null">
                        <a class="nav-link" ng-click="vm.login()" style="color: white">Đăng nhập</a>
                    </li>
                    <li class="nav-item" ng-show="isAuthenticated == true">
                        <a class="nav-link" ng-click="vm.logout()" style="color: white">Đăng xuất</a>
                    </li>
                    <li class="nav-item" ng-show="isAuthenticated == false">
                        <a class="nav-link" ng-click="vm.register()" style="color: white">Đăng ký</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <nav class="navbar navbar-expand-lg navbar-white">
        <div class="container">
            <h1 class="col col-6 col-md-2">
                <a ui-sref="home"><img src="content/images/gd-dchu_07.png" class="img-fluid"></a>
            </h1>
            <button class="navbar-toggler my-2" type="button" data-toggle="collapse" data-target="#navbarCollapse">
                <div class="navbar-toggler-icon nav-icon1">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </button>

            <div class="collapse navbar-collapse flex-column align-items-start col col-12 col-md-10" id="navbarCollapse">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" ui-sref="play">TRANG CHỦ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">GIỚI THIỆU</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ui-sref="play">SĂN KIM CƯƠNG</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">LẬT BÀi MAY MẮN</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">MÃ DỰ THƯỞNG</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">THỂ LỆ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">HƯỚNG DẪN</a>
                    </li>
                    <li class="nav-item hidden-xs">
                        <a class="nav-link" href="#">+84983221239</a>
                    </li>
                    <li class="nav-item hidden-xs">
                        <a class="nav-link" href="#">Đăng ký</a>
                    </li>
                    <li class="nav-item hidden-xs">
                        <a class="nav-link" href="#"><i class="fa fa-facebook"></i></a>
                        <a class="nav-link" href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                        <a class="nav-link" href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="banner" style="display:none" >
        <img src="content/images/banner--ngang.png" class="rounded mx-auto d-block img-fluid" alt="#">
    </div>
</header>

<script type="text/javascript">
    $(document).ready(function(){
        $('.nav-icon1,#nav-icon2,#nav-icon3,#nav-icon4').click(function(){
            $(this).toggleClass('open');
        });
    });
</script>
<script>
    $(document).ready(function(){
        $(".toggler-game").click(function(){
            $("#mySidebar").toggleClass('open');
        });
    });

</script>
<script type="text/javascript">
    $(document).ready(function(){
        var submitIcon = $('.searchbox-icon');
        var inputBox = $('.searchbox-input');
        var searchBox = $('.searchbox');
        var isOpen = false;
        submitIcon.click(function(){
            if(isOpen == false){
                searchBox.addClass('searchbox-open');
                inputBox.focus();
                isOpen = true;
            } else {
                searchBox.removeClass('searchbox-open');
                inputBox.focusout();
                isOpen = false;
            }
        });
        submitIcon.mouseup(function(){
            return false;
        });
        searchBox.mouseup(function(){
            return false;
        });
        $(document).mouseup(function(){
            if(isOpen == true){
                $('.searchbox-icon').css('display','block');
                submitIcon.click();
            }
        });
    });
    function buttonUp(){
        var inputVal = $('.searchbox-input').val();
        inputVal = $.trim(inputVal).length;
        if( inputVal !== 0){
            $('.searchbox-icon').css('display','block');
        } else {
            $('.searchbox-input').val('');
            $('.searchbox-icon').css('display','block');
        }
    }
</script>
