<main>
    <div class="main">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="alert alert-box clearfix">
                        <div class="float-left">
                            Số kim cương:  <span class="red">{{account.diamonds}}</span>
                        </div>
                        <div class="float-right">
                            Số lượt lật bài: <span class="red">{{account.cards}}</span>
                        </div>
                        <div class="w-100 clearfix"></div>
                        <div class="quydoi clearfix row">
                            <label class="col col-3 col-sm-2 quydoism">Quy đổi:</label>
                            <div class="col col-7 col-sm-7 cachdong">
                                <select style="width: 100%;" name="" id="" class="sl-quydoi img-fluid">
                                    <option value="">10 kim cương/ 1 lần mở thẻ bài</option>
                                </select>
                            </div>
                                <button class="btn btn-quydoi" style="" ng-click="vm.convertCard()">
                                    Đổi
                                </button>
                            </div>

                        <style>

                            @media screen and (max-width: 580px) {
                                .alert-box {
                                    display: block;
                                }
                                .quydoism{
                                    max-width: 26% !important;
                                    flex: 0 0 26% !important;
                                }
                            }
                            @media screen and (min-width: 600px) {
                                .btn-quydoi {

                                }

                                .cachdong {
                                    padding-left: 30px;
                                }
                            }

                        </style>
                    </div>

                    <div class="alert alert-danger">
                        <strong>Chú ý!</strong> Click vào để lật bài.
                    </div>

                    <div class="box-card d-flex flex-wrap" style="padding-top: 6px;">
                        <div class="row  mobile-card no-gutters justify-content-center ">
                            <div class="col">
                                <div class="classclick classclick1" ng-click="vm.pickCard(0)" ng-disabled="isDisabled">
                                    <div class="card card1">
                                        <div class="front"><img src="{{vm.array_card[0].front_img}}" class="mx-auto d-block img-fluid"></div>
                                        <div class="back"><img src="{{vm.array_card[0].back_img}}" class="mx-auto d-block img-fluid"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="classclick classclick2" ng-click="vm.pickCard(1)" ng-disabled="isDisabled">
                                    <div class="card card2">
                                        <div class="front"><img src="{{vm.array_card[1].front_img}}" class="mx-auto d-block img-fluid"></div>
                                        <div class="back"><img src="{{vm.array_card[1].back_img}}" class="mx-auto d-block img-fluid"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="classclick classclick3" ng-click="vm.pickCard(2)" ng-disabled="isDisabled">
                                    <div class="card card3">
                                        <div class="front"><img src="{{vm.array_card[2].front_img}}" class="mx-auto d-block img-fluid"></div>
                                        <div class="back"><img src="{{vm.array_card[2].back_img}}" class="mx-auto d-block img-fluid"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="w-100 hidden-xs"></div>
                            <div class="col">
                                <div class="classclick classclick4" ng-click="vm.pickCard(3)" ng-disabled="isDisabled">
                                    <div class="card card4">
                                        <div class="front"><img src="{{vm.array_card[3].front_img}}" class="mx-auto d-block img-fluid"></div>
                                        <div class="back"><img src="{{vm.array_card[3].back_img}}" class="mx-auto d-block img-fluid"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="classclick classclick5" ng-click="vm.pickCard(4)" ng-disabled="isDisabled">
                                    <div class="card card5">
                                        <div class="front"><img src="{{vm.array_card[4].front_img}}" class="mx-auto d-block img-fluid"></div>
                                        <div class="back"><img src="{{vm.array_card[4].back_img}}" class="mx-auto d-block img-fluid"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="classclick classclick6" ng-click="vm.pickCard(5)" ng-disabled="isDisabled">
                                    <div class="card card6">
                                        <div class="front"><img src="{{vm.array_card[5].front_img}}" class="mx-auto d-block img-fluid"></div>
                                        <div class="back"><img src="{{vm.array_card[5].back_img}}" class="mx-auto d-block img-fluid"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="classclick classclick7" ng-click="vm.pickCard(6)" ng-disabled="isDisabled">
                                    <div class="card card7">
                                        <div class="front"><img src="{{vm.array_card[6].front_img}}" class="mx-auto d-block img-fluid"></div>
                                        <div class="back"><img src="{{vm.array_card[6].back_img}}" class="mx-auto d-block img-fluid"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="w-100 hidden-xs"></div>
                            <div class="col">
                                <div class="classclick classclick8" ng-click="vm.pickCard(7)" ng-disabled="isDisabled">
                                    <div class="card card8">
                                        <div class="front"><img src="{{vm.array_card[7].front_img}}" class="mx-auto d-block img-fluid"></div>
                                        <div class="back"><img src="{{vm.array_card[7].back_img}}" class="mx-auto d-block img-fluid"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="col">
                                <div class="classclick classclick9" ng-click="vm.pickCard(8)" ng-disabled="isDisabled">
                                    <div class="card card9">
                                        <div class="front"><img src="{{vm.array_card[8].front_img}}" class="mx-auto d-block img-fluid"></div>
                                        <div class="back"><img src="{{vm.array_card[8].back_img}}" class="mx-auto d-block img-fluid"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="classclick classclick10" ng-click="vm.pickCard(9)" ng-disabled="isDisabled">
                                    <div class="card card10">
                                        <div class="front"><img src="{{vm.array_card[9].front_img}}" class="mx-auto d-block img-fluid"></div>
                                        <div class="back"><img src="{{vm.array_card[9].back_img}}" class="mx-auto d-block img-fluid"></div>
                                    </div>
                                </div>
                            </div>


                            <!--popup-->
                            <div class="popup PopUpHelp" ng-show="vm.popupShow" style="height: 400px;">
                                <div class="bgr-trans"></div>
                                <div class="bgr-popup" style="width: 60%;text-align: center;margin-left: 20%;">
                                    <div class="close-popup">
                                        <button type="button" class="close closePopUp" ng-click="vm.clickCancel()">×</button>
                                    </div>
                                    <p>{{vm.popupContent}}</p>
                                    <div style="padding-top: 20px;display: inline-flex;width: 100%;" ng-show="vm.popupBtn">
                                        <button class="btn btn-cancel" ng-click="vm.clickCancel()">{{vm.btnCancel}}</button>
                                        <button class="btn btn-confirm" ng-click="vm.clickConfirm()">{{vm.btnConfirm}}</button>
                                    </div>
                                </div>
                            </div>
                            <style>
                                .bgr-popup h4 { font-size: 22px; padding:0 20px}
                                .bgr-popup p { font-size: 18px; padding:0 20px }
                                .bgr-popup .close-popup {overflow: hidden;}
                                @media screen and (max-width: 480px){
                                    .bgr-popup h4 { font-size: 20px; padding:0 5px}
                                    .bgr-popup p { font-size: 17px; padding:0 5px }
                                    .bgr-popup {overflow: scroll}
                                }
                                .btn-confirm{
                                    color: #fff;
                                    background: #f2b002;
                                    margin: 10px auto;
                                    border: none;
                                    display: block;
                                    border-radius: 20px;
                                    padding: 8px 20px;
                                    font-size: 16px;
                                    width: 120px;
                                }
                                .btn-cancel{
                                    color: #fff;
                                    background: #a0a0a0;
                                    margin: 10px auto;
                                    border: none;
                                    display: block;
                                    border-radius: 20px;
                                    padding: 8px 20px;
                                    font-size: 16px;
                                    width: 120px;
                                }
                            </style>
                            <!--end popup-->

                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <body-winner-list></body-winner-list>
                </div>
            </div>
        </div>
    </div>
</main>
