<main>
    <div class="main">
        <div class="container">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-6">
                    <div class="game clearfix">
                        <div class="oval"></div>
                        <button class="cycle float-left" ui-sref="default">
                            <i class="fa fa-reply" aria-hidden="true"></i>
                        </button>
                        <div class="diamon">
                            <img src="content/images/diamond_icon.png" class="float-left">
                            <label style="margin-left: 20px;">{{account.diamonds}}</label>
                        </div>
                        <div class="clearfix"></div>
                        <br>
                        <br>
                        <div class="container-fluid">
                            <div class="row justify-content-md-center text-center">
                                <div class="col col-md-8 text-center">
                                    <img src="content/images/decor.png" class="img-fluid logo-game">
                                </div>
                            </div>
                            <br>
                            <div class="row justify-content-md-center text-center">
                                <div class="text-center col col-md-12">
                                    <a ng-click="vm.goPlay()">
                                        <img src="content/images/play-button.png" class="img-fluid icon2">
                                    </a>
                                </div>
                            </div>
                            <br>
                            <div class="row justify-content-md-center text-center">
                                <div class="text-center col col-md-12">
                                    <a ng-click="vm.popupShowHide()">
                                        <img src="content/images/gd-dchu_28.png" class="img-fluid icon">
                                    </a>
                                    <div class="text align-items-center">
                                        <div class="text-center">Hướng dẫn</div>
                                    </div>
                                </div>
                            </div>
                            <br>

                            <div class="clearfix"></div>
                            <br>
                            <div class="row nav-bot justify-content-around">
                                <div class="col col-3 text-center">
                                    <button class="cycle" ng-click="vm.goHome()">
                                        <i class="fa fa-home" aria-hidden="true"></i>
                                    </button><br>
                                    <span>Tùy Chọn</span>
                                </div>
                                <div class="col col-6 text-center">
                                    <button class="cycle">
                                        <i class="fa fa-users" aria-hidden="true"></i>
                                    </button><br>
                                    <span>Danh sách trúng thưởng</span>
                                </div>
                                <div class="col col-3 text-center">
                                    <button class="cycle">
                                        <i class="fa fa-cog" aria-hidden="true"></i>
                                    </button><br>
                                    <span>Cài Đặt</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--popup-->
                    <div class="popup PopUpHelp" ng-show="vm.popupShow">
                        <div class="bgr-trans"></div>
                        <div class="bgr-popup" style="width: 60%;text-align: center;margin-left: 20%;">
                            <div class="close-popup">
                                <button type="button" class="close closePopUp" ng-click="vm.clickCancel()">×</button>
                            </div>
                            <h4>Chơi có thưởng:</h4>
                            <p>Dành cho các TB Mobifone đã tham gia CTKM đoán chữ. Tích lũy kim cương khi tham gia trả lời câu hỏi để lật bài trúng thưởng.
                            <div style="padding-top: 20px;display: inline-flex;width: 100%;" ng-show="vm.popupBtn">
                                <button class="btn btn-cancel" ng-click="vm.clickCancel()">{{vm.btnCancel}}</button>
                                <button class="btn btn-confirm" ng-click="vm.clickConfirm()">{{vm.btnConfirm}}</button>
                            </div>
                        </div>
                    </div>
                    <style>
                        .bgr-popup h4 { font-size: 22px; padding:0 20px}
                        .bgr-popup p { font-size: 18px; padding:0 20px }
                        .bgr-popup .close-popup {overflow: hidden;}
                        @media screen and (max-width: 480px){
                            .bgr-popup h4 { font-size: 20px; padding:0 5px}
                            .bgr-popup p { font-size: 17px; padding:0 5px }
                            .bgr-popup {overflow: scroll}
                        }
                        .btn-confirm{
                            color: #fff;
                            background: #f2b002;
                            margin: 10px auto;
                            border: none;
                            display: block;
                            border-radius: 20px;
                            padding: 8px 20px;
                            font-size: 16px;
                            width: 120px;
                        }
                        .btn-cancel{
                            color: #fff;
                            background: #a0a0a0;
                            margin: 10px auto;
                            border: none;
                            display: block;
                            border-radius: 20px;
                            padding: 8px 20px;
                            font-size: 16px;
                            width: 120px;
                        }
                    </style>
                    <!--end popup-->

                </div>
                <div class="col-md-3">
                    <body-winner-list></body-winner-list>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </div>
</main>